* text=auto eol=lf
*.png binary
*.jpg binary
*.jpeg binary
*.webp binary
*.gif binary
*.aseprite binary
*.wav binary
*.mp3 binary
*.ogg binary
*.blend binary
*.glb binary
*.ttf binary
*.otf binary
*.wasm binary
*.tgdpack binary
*.bin binary
